/* styles.css */

#top-left {
    position: absolute; /*makes navbar items horizontal*/
    top: 5px; /*distance from top of screen*/
    left: 2px; /*distance from left side of screen*/
    width: 150px; /*width of navbar items*/
    height: 75px; /*height of navbar items*/
}

#top-right {
    position: absolute; /*makes navbar items horizontal*/
    top: 5px; /*distance from top of screen*/
    right: 2px; /*distance from right side of screen*/
    width: 150px; /*width of navbar items*/
    height: 75px; /*height of navbar items*/
}



header,
h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center; /*centers text in navbar items*/
    top: auto; /*centers text in navbar items*/
    left: auto; /*centers text in navbar items*/
    width: 100%; /*makes navbar items horizontal*/
    background-color: #003268; /*background color of navbar*/
    margin: auto; /*centers navbar items*/
    padding: 5px; /*distance between border and text*/
    z-index: auto; /*makes navbar items appear on top of other items*/
    font-size: 36px; /*size of text in navbar items*/
    color: white; /*color of text in navbar items*/
}

 
header p {
    color: #ffffff; /*color of text in navbar items*/
    font-size: 24px; /*size of text in navbar items*/
    text-align: center; /*centers text in navbar items*/
}


.flashes .success {
    background-color: rgb(0, 95, 0); /*background color of navbar items*/
    color: white; /*color of text in navbar items*/
    margin-bottom: 10px; /*distance between navbar items*/
    padding: 10px; /*distance between border and text*/
    border-radius: 4px; /*rounds the corners*/
    font-size: 24px; /*size of text in navbar items*/
    text-align: center; /*centers text in navbar items*/
}

.flashes .error {
    background-color: rgb(194, 0, 0); /*background color of navbar items*/
    color: white; /*color of text in navbar items*/
    margin-bottom: 10px; /*distance between navbar items*/
    padding: 10px; /*distance between border and text*/
    border-radius: 4px; /*rounds the corners*/
    font-size: 24px; /*size of text in navbar items*/
    text-align: center; /*centers text in navbar items*/
}

.horizontal-menu {
    display: flex; /*makes navbar items horizontal*/
    justify-content: center; /*centers navbar items*/
    align-items: center; /*centers items vertically in the container*/
    background-color: #003268; /*background color of navbar*/
    color: #ffffff; /*color of text in navbar items*/
    font-size: 22px; /*size of text in navbar items*/
    padding: 5px; /*distance between border and text*/
    width: 100%; /*makes navbar items horizontal*/
    bottom: 0; /*distance from bottom of screen*/
    gap: 40px; /*horizontal spacing between items*/
    margin: auto; /*centers navbar items*/
}

body {
    display: flex; /*makes navbar items horizontal*/
    flex-direction: column; /*makes navbar items horizontal*/
    min-height: auto; /*makes navbar items horizontal*/
    text-align: center; /*centers text in navbar items*/
    margin: auto; /*centers navbar items*/
    font-family: Arial, Helvetica, sans-serif; /*font of text in navbar items*/
    color: white; /*color of text in navbar items*/
    background-color: rgb(56, 56, 56); /*background color of navbar*/
    
}

#message {
    display: flex; /*makes navbar items horizontal*/
    justify-content: center; /*centers navbar items*/
    align-items: center; /*centers items vertically in the container*/
    background-color: #ad0000; /*background color of navbar*/
    color: #ffffff; /*color of text in navbar items*/
    font-size: 22px; /*size of text in navbar items*/
    padding: 5px; /*distance between border and text*/
    width: 100%; /*makes navbar items horizontal*/
    bottom: 0; /*distance from bottom of screen*/
    gap: 40px; /*horizontal spacing between items*/
    margin: auto; /*centers navbar items*/

}

.list-group-item {
    display: flex; /*makes navbar items horizontal*/
    justify-content: ; /*centers navbar items*/
    align-items: left; /*centers items vertically in the container*/
    background-color: black; /*background color of navbar*/
    color: #ffffff; /*color of text in navbar items*/
    font-size: 22px; /*size of text in navbar items*/
    padding: 5px; /*distance between border and text*/
    width: 100%; /*makes navbar items horizontal*/
    bottom: 0; /*distance from bottom of screen*/
    gap: 40px; /*horizontal spacing between items*/
    margin: auto; /*centers navbar items*/
}

.span {
    display: flex; /*makes navbar items horizontal*/
    justify-content: right; /*centers navbar items*/
    align-items: center; /*centers items vertically in the container*/
}
footer {
    display: flex; /*makes navbar items horizontal*/
    justify-content: space-between; /*distributes items evenly in the container*/
    align-items: center; /*centers items vertically in the container*/
    background-color: #003268; /*background color of navbar*/
    color: #ffffff; /*color of text in navbar items*/
    
}



#footer-center {
    display: flex; /*makes text items vertical*/
    flex-direction: column; /*stacks text items vertically*/
    align-items: center; /*centers text items horizontally*/
    font-size: 18px; /*size of text in navbar items*/
}


#footer-left {
    display: inline; /*makes text items vertical*/
    flex-direction: column; /*stacks text items vertically*/
    align-items: left; /*centers text items horizontally*/
    width: 150px; /*width of navbar items*/
    height: 75px; /*height of navbar items*/
}


#footer-right {
    display: inline; /*makes text items vertical*/
    flex-direction: column; /*stacks text items vertically*/
    align-items: right; /*centers text items horizontally*/
    width: 150px; /*width of navbar items*/
    height: 75px; /*height of navbar items*/
}

table {
    display: flex; /*makes navbar items horizontal*/
    justify-content: center; /*centers navbar items*/
    align-items: center; /*centers items vertically in the container*/
    background-color: #003268; /*background color of navbar*/
    color: #ffffff; /*color of text in navbar items*/
    font-size: 22px; /*size of text in navbar items*/
    padding: auto; /*distance between border and text*/
    width: auto; /*makes navbar items horizontal*/
    bottom: auto; /*distance from bottom of screen*/
    gap: auto; /*horizontal spacing between items*/
    margin: auto; /*centers navbar items*/

}



/* End of styles.css */
